<div class="tittle_statistic">
  <div class="header_tittle">Statistic</div>
  <div class="header_img" ></div>
</div>




  <nav class="months_nav">
    <ul class="months_menu">
      <li class="moths_menu-item"><a href="#" class="months_menu-link">January</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">February</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">March</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">April</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">May</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">June</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">July</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">August</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">September</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">October</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">November</a></li>
      <li class="moths_menu-item"><a href="#" class="months_menu-link">December</a></li>
    </ul>
  </nav>
 




