@import "../_vars.scss";

.tittle_statistic {
  width: 100%;
  text-align: center;

}
.header_tittle {
    
    position: relative;
    top: 0;
    text-align: center;
    font: {
        size: 18px;
    }
    padding-top: 3em;
    display: inline-block;
    margin-right: $elem_marg;
}

.header_img {
    background-image: url(/assets/icons/staticstic_active.svg);
    width: 19px;
    height: 19px;
      display: inline-block;

}

.months_nav {
    margin-top: $elem_marg;
    background-color: $sec_dark;
    padding: $elem_marg 0px;
    font-size: 14px;
    font-weight: 400;
    overflow: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    white-space: nowrap;

        li {
            display: inline-block;
            margin: 0px 40px 0px 0px;
            
            
        }
}

a {
  text-decoration: none;
  color: $unact_text;
  &:hover {
      color: white;
  }
  &:active {
      color: white;
  }
}




.months_nav::-webkit-scrollbar {
 display: none; 
}



