@import "../app/vars";

.tittle_main {
  height: 100%;
  width: 100%;
}

.menu_item {
  width: 20px;
  height: 20px;
  background-repeat: none;
  background-size: cover;
  background-position: center center;

  
  text-align: center;

    img {
      display: inline-block;
      
    }
}
.a_img {
  height: auto;
  width: 20px;
  height: 20px;
  background-repeat: none;
  background-size: cover;
  background-position: center center;


}
.list1_img {
  background-image: url(../assets/icons/main.svg);
  &:hover {
    background-image: url(../assets/icons/main_active.svg);
  }
  &:active {
    background-image: url(../assets/icons/main_active.svg);
  }
}

.list2_img {
  background-image: url(../assets/icons/staticstic.svg);
  &:hover {
    background-image: url(../assets/icons/staticstic_active.svg);
  }
}

.notification_img {
  background-image: url(../assets/icons/notification.svg);
  &:hover {
    background-image: url(../assets/icons/notification_active.svg);
  }
}
.bookmark_img {
  background-image: url(../assets/icons/bookmark.svg);
  width: 15px;
    &:hover {
      background-image: url(../assets/icons/bookmark_active.svg);

    }
}
.profile_img {
  background-image: url(../assets/icons/profile.svg);
    &:hover {
      background-image: url(../assets/icons/profile_active.svg);

    }
}

.menu_back {
  display: flex;
  border-top: 1px solid rgba(128, 128, 128, 0.616);
  background-color: $main_dark;
  justify-content: space-between;
  padding: $elem_marg $elem_marg;

}

.container {
  width: 100vw;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
  
}

.wind_cont {
 @include screen_view;
}


.wind_cont::-webkit-scrollbar {
  display: none;
}
