.tittle_main {
  height: 100%;
  width: 100%;
}

.menu_back {
  position: fixed;
  bottom: 0;
  width: 93%;
  padding: 15px 15px;
}

.menu_back {
  display: flex;
  border-top: 1px solid rgba(128, 128, 128, 0.616);
  background-color: #1a1b25;
  justify-content: space-between;
  z-index: 10;
}
