

    <div>
        <router-outlet></router-outlet>
    </div>

    <nav class="menu_back">
        <a class="menu_item" routerLink="/list1" routerLinkActive="active"><img src="../assets/icons/main.svg" alt=""></a>
        <a class="menu_item" routerLink="/list2" routerLinkActive="active"><img src="../assets/icons/staticstic.svg" alt=""></a>
        <a class="menu_item" routerLink="/notification" routerLinkActive="active"><img src="../assets/icons/notification.svg" alt=""></a>
        <a class="menu_item" routerLink="/bookmark" routerLinkActive="active"><img src="../assets/icons/bookmark.svg" alt=""></a>
        <a class="menu_item" routerLink="/profile" routerLinkActive="active"><img src="../assets/icons/profile.svg" alt=""></a>
    </nav>
