<div class="img_overlay"></div>
<div class="blank_overlay"></div>
<div class="img_bg"><img class="img_bg_article" src="../../assets/bg.jpg" alt=""></div>
<div class="tittle_main">
  <div class="app-comp-tittle">Who are you and why you’re standing here?</div>
  <div class="app-comp-descript">It doesn't matter if you're building the next Facebook, or if you're the director of marketing for an industrial company.</div>
  <div class="article_info clearfix">
    <div class="author_sign">By</div>
    <div class="date_sign">28 July</div>
  
  </div>
    <div class="social_info">Liked this</div>
</div>
